@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Component1 @bind-IsOpen=IsOpen1/>

<Component2 @bind-IsOpen=IsOpen2/>

<button @onclick="() => IsOpen1=true">Open1</button>

<button @onclick="() => IsOpen2=true">Open2</button>

@code{
    public bool IsOpen1 { get; set; } = false;
    public bool IsOpen2 { get; set; } = false;



}